.logo {
    /* border: 1px solid black; */
    width: 77px;
}
nav ul {
    /* border: 1px solid green; */
    list-style: none;
    display:flex;
    align-items: center;
    z-index: 100;
}

li a {
    text-decoration: none;
    color: #000000;
    padding: 0 12px;
}

li a:hover {
    background-color: #d3d3d3;
    padding: 12px;
    border-radius: 4px;
}