
*{
    width: 100%;
    margin:  0;
}
.fondo{
    color: white;
    margin: 0;
    position: relative;
    height: 70vw
    
}
#fondoImagen{
    z-index: -1;
    position: absolute;
    top: 0;
    opacity: 0.5;
    border-radius: 0 0 15px 15px;
    
}
#backInicio{
    font-size: 7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
.informacion{
    padding: 5%;
    display: flex;
    margin: 3%;
    background-color: #F3EBEB;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: auto;
    height: auto;
}
.informacion>img{
    width: 75%;
    margin: auto;
}
.novedades>p ,.contenido>p{
    font-size: 6vw;
    text-align: center;
}

.informacion>p{
    padding-top: 10px;
    font-size: 4vw;
    display: inline;
    padding-right: 40px;
}
h2{
    font-size: 6vw;
}

@media only screen and (min-width: 600px) {

}

/* CONSULTA STYLE */
.consulta input[type=text]{
    width: 296px;
    height: 30px;
    border: transparent;
    background-color: #D9D9D9;
    border-radius: 30px;
    margin: 10px 0 17px 0;
}

.consulta input::placeholder {
    padding-left: 7px;
}

.consulta h1 {
    color: white;
    text-align: center;
}

.consulta {
    background-color: #F3EBEB;
}
.consulta input[type=date]{
    margin-top: 20px;
    margin-bottom: 20px;
}
.reserve {
    width: 150px;
    border-radius: 20px;
    height: 200px;
}

.consulta .fondoC {
    padding-left: 12px;
    padding-top: 12px;
    background-color: #FFF;
    border-radius: 20px;
    margin: 0 auto;
    width: 310px;
    height: 320px ;
}

 input[type="submit"] {
    border: none;
    background-color: #FFF;
    color: black;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
    padding: 1px 6px;
}

 input[type="submit"]:hover {
    background-color: #ebe7e7;
}

.consulta input[type="datetime-local"]{
    display: block; /* Para que no se junte con el boton */
    margin-left: -30px;
    margin-bottom: 12px;
    width: 170px;
    font-size: 16px;
}

.reserve{
    background-color: #F3EBEB;
    margin: 0 auto;
}
/* Informancion Style */

.consulta{
    background-color: #F3EBEB;
}
.informancion {
    background-color: #F3EBEB;
}
.informancion article {
    display: grid;
    grid-template-columns: 3;
    gap: 10px;
}

.patin {
    background-color: white;
    border-radius: 20px;
    padding: 12px;
    width: 150px;
    height: 150px;
    margin: 12px;
    grid-column: 1 / 2;
}

.bluetooth{
    margin-top: 12px;
    background-color: white;
    height: 66px;
    width: 126px;
    border-radius: 7px;
    grid-column: 2/4;
}
.bluetooth p {
    display: inline;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: 10px;
    left: -3px;
}
.bluetoothIcon {
    width: 47px;
    height: auto;
    position: relative;
    top: 18px;
}

.bateria{
    background-color: white;
    border-radius: 7px;
    width: 116px;
    height: 66px;
    margin-top: -120px;
    grid-column: 2 / 4;
    display: inline;
}


.bateryIcon{
    margin-top: 12px;
    width: 50px;
    height: 50px;
    transform: rotate(90deg);
}

.bateria p {
    margin-left: 12px;
    position: relative;
    bottom: 16px;
    display: inline;
    font-size: 23px;
    font-weight: bold;
}

.candado{
    width: 45px;
    height: 45px;
    margin-left: 14px;
    margin-top: 7px;
}

.candadoF{
    position: relative;
    left: 30px;
    background-color: #3892FD;
    margin-top: -50px;
    width: 78px;
    height: 58px;
    border-radius: 7px;
    grid-column: 2/ 4;
    display: inline;
}

.informancion  > p {
    font-size: 20px;
    font-weight: bold;
    display: inline;
    padding-right: 40px;
}

.mapa{
    margin: 8px 12px;
    width: 90%;
    height: 150px;
    border-radius: 20px;
    border: 0;
}

.informancion  input[type="submit"] {
    margin: 0 35%;
}
/*? Breakpoint informancion.html  Para PC*/
@media only screen and (min-width: 1199px) {
    .patin {
    width: 350px;
    height: 350px;
    position: relative;
    left: 400px;
    }
/* Blue */
    .bluetooth{
        height: 100px;
        width: 310px;
        border-radius: 16px;
        position: relative;
        grid-column: 3/4;
    }
    .bluetooth p {
        font-size: 32px;
        font-weight: bold;
        top: -9px;
    }
    .bluetoothIcon {
        width: 94px;
        height: auto;
    }
/* Bateria */
.bateria{
    border-radius: 16px;
    width: 310px;
    height: 100px;
    grid-column: 3/ 4;
    position: relative;
    bottom: 150px;

}


.bateryIcon{
    width: 100px;
    height: 100px;
    position: relative;
    left: 20px;
    bottom: 10px;
}

.bateria p {
    /* position: relative; */
    left: 60px;
    bottom: 50px;
    font-size: 36px;
}
/* Icono */
.candado{
    width: 90px;
    height: 90px;
    position: relative;
    left: 16px;
}

.candadoF{
    left: 160px;
    width: 150px;
    height: 100px;
    border-radius: 14px;
    grid-column: 3/ 4;
    bottom: 90px;

}
.mapa{
    margin-left: 5%;
    width: 90%;
    height: 300px;
    border-radius: 20px;
    border: 0;
}

.informancion .foot p{
    display: inline;
    margin-left: 120px;
    font-size: 40px;
}

.informancion  input[type="submit"] {
    margin: 0 45%;
    font-size: 32px;
   width: 240px;
   height: 80px;
}
/*? FIN informancion.html Para PC*/

/** Para Tablets  */
@media only screen and (min-width: 800px) and (max-width: 1280px) {
  .patin {
    border: 1px solid blueviolet;
    left: 0;
  }
}

}



/*PRODUCTOS STYLE*/
#productos *{
    box-sizing: border-box;
}
.informacion>iframe{
    border-radius: 45%;
    width: 45%;
}
#productos .informacion{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#productos .informacion>img{
    width: 50%;
}