@media only screen and (min-width: 360px) and (max-width: 932px) {
    *{
    width: 100%;
    }
    #backInicio{
    font-size: 30px;
    display: flex;
    }
    #fondoImagen{
    margin: 0;
    padding: 0;
    border-radius: 0px 0px 20px 20px;
    position: absolute;
    top: 0;
    opacity: 50%;
    }
}