@media only screen and (min-width: 360px) and (max-width: 932px) {    
    
    /* El logo de la imagen */
    li > img {
        width: 77px;
        height: auto;
        position: relative;
        top: 24px;
    }
    /* Cada elemento del menu ej: inicio,reserva,producto */
    ul li {
        list-style: none;
        display: inline;
        padding: 10px;
    }
    /*  */
    ul li {
        text-decoration: none;
        color: black;
        border: 1px solid red;
    }

    ul a {
        text-decoration: none;
    }

    a:hover {
        background-color: lightgrey;
    }

}